body {
    font-family: Arial, sans-serif;
    background-color: #6ca6e7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Alineación centralizada */
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #82d81a;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #82d81a;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #333;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #23527c;
}

footer {
    background-color: #333;
    color: #cdd40f;
    padding: 1em 0;
    text-align: center;
    clear: both;
}
